In [1]:
#lests first install the selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium # to use selenium library
import pandas as pd # install pandas library for DataFrame
from selenium import webdriver # to open with automated chrome window
import warnings 
warnings.filterwarnings('ignore') # to ingnore any sort of warnings
import time # use to stop search engine for few seconds

In [4]:
# lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [5]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [6]:
#scarping up naukri.com on automated web drive
driver.get("https://www.naukri.com/")

In [7]:
# finding element job search for
search_field_designation=driver.find_element_by_class_name('suggestor-input') #job search for
search_field_designation.send_keys('Data Analyst')

In [8]:
# entering location delhi in loaction search for
search_field_loc=driver.find_element_by_class_name('suggestor-input') #job search for
search_field_loc.send_keys('Banglore')

In [9]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [10]:
job_titles=[]
company_names=[]
location_lists=[]

In [11]:
#so lets extract all tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="4c200d09-ec3b-41c7-8962-428b890ea60a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="6dfd8a84-8d35-45fd-ba02-c6000fc2af45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="c08752ad-2dca-4312-9339-09438e5a36dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="351eb2ea-cc36-4251-8cb1-17a5f734d2e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="2849716f-464d-4c2b-b012-9dcdff6a6aff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="9097e37e-f024-498d-9e7e-b32c8cc239f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="590c0987-0c9b-4e73-8a03-9de858e99986")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="28e00f3c-874b-404e-8675-327de69d09f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="c4b63f62-2dd0-4ddb-9aba-c10717a4d4dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="c94e45f3-5f33-4761-a159-f94b4a83551e")>]

In [12]:
#we run a loop extracted over the tags
for i in titles_tags:        #iterating over web element of title
    title=i.text             #extracting text from web each element
    job_titles.append(title) # appending each extected text into empty list
job_titles[0:10]  #printing top 10 job titles

['Data Analyst I',
 'Data Science / Data Engineer / Business Analyst / Full Stack Developer',
 'Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Data Analyst / Business analyst - US MNC (analytics)',
 'Junior Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst']

In [13]:
# now let me extract all the tags having company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="7d309434-3c6f-4dc4-b39e-dc06d41c5963")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="01ea71e7-327e-4e46-8a28-4065e1aec159")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="14dc1896-67b4-41b5-a6e8-c31fdabbcaf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="e4bc99ac-225f-40bb-9ef2-03a05a23d63b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="9577daa5-89fe-4234-beca-6488dd2ec2a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="697e08d4-87ab-44bf-807e-d402b453213d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="fe0a59f7-a257-470f-80dd-8dcfaf70b3fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="40597e55-b5c4-45df-a81b-250feadaa3a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="28a02535-cad3-44c5-b0e3-f02b9de5ccc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="54b3520a-3a3b-45cc-a1dd-be0c78feadee")>]

In [14]:
for i in companies_tags:  #iterating over web element of company
    company_name=i.text   #extracting text from web each element
    company_names.append(company_name)   #appending each extected text into empty list
company_names[0:10]  #printing top 10 company names

['Cerner',
 'NETWORTH DATA PRODUCTS PRIVATE LIMITED',
 'Collabera',
 'Thomson Reuters',
 'Aspyra HR Services',
 'ICF Next',
 'Capco',
 'Everest Fleet Pvt. Ltd.',
 'Thomson Reuters',
 'Hudsons bay Company (HBC)']

In [15]:
# now lets  extract all the tags having location lists
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="f73619e1-dff6-4c30-92d9-ac1e7dc76ee7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="baa66c95-a690-48b4-941b-4c46214e4ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="44b02551-bcca-4bdc-8993-0df14168bd39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="37d7db31-4b36-4cc6-8ea6-bfb18876b588")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="9923995b-350b-41eb-8829-37cb2f09b4b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="803e6d3d-855a-4319-b3ac-219749f1211e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="0104510f-4ce3-4f4c-9e07-e045adee5b37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="72c9a001-1d8c-476e-954c-e95087983a6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="dfa3461b-326a-46dc-804c-cf6fdd0cd09e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="88b5e5066b401099600a5c3585646f62", element="ca994c78-4d0f-4939-94cc-ab0b6e3ce0fb")>]

In [16]:
for i in locations_tags:  #iterating over web element of location
    location=i.text       #extracting text web of each element
    location_lists.append(location) # appending each extracted text into empty list
location_lists[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Thane, Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
print(len(job_titles),len(company_names),len(location_lists))

20 20 20

In [18]:
# now make a Data frame
df=pd.DataFrame({'Job_titles':job_titles,'Company_names':company_names,'location_lists':location_lists})
df

,Job_titles,Company_names,location_lists
0,Data Analyst I,Cerner,Bangalore/Bengaluru
1,Data Science / Data Engineer / Business Analys...,NETWORTH DATA PRODUCTS PRIVATE LIMITED,Bangalore/Bengaluru
2,Sr.Business Data Analyst,Collabera,"Bangalore/Bengaluru, karnataka"
3,Sr Data Analyst,Thomson Reuters,Bangalore/Bengaluru
4,Data Analyst / Business analyst - US MNC (anal...,Aspyra HR Services,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
5,Junior Data Analyst,ICF Next,"New Delhi, Bangalore/Bengaluru"
6,Senior Data Analysis Analyst,Capco,"Pune, Chennai, Bangalore/Bengaluru"
7,Data Analyst,Everest Fleet Pvt. Ltd.,"Kolkata, Thane, Hyderabad/Secunderabad, Bangal..."
8,Data Analyst,Thomson Reuters,Bangalore/Bengaluru
9,Senior Data Analyst,Hudsons bay Company (HBC),Bangalore/Bengaluru
10,Senior Data Analyst,KrazyBee,Bangalore/Bengaluru(Old Madras Road)
11,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru
12,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore/Bengaluru
13,Business Analyst/Data Analyst,Telamon HR Solutions,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
14,Hiring For Data Analyst,Flipkart,Bangalore/Bengaluru
15,Data Analyst,Wipro,"Noida, Hyderabad/Secunderabad, Gurgaon/Gurugra..."
16,Associate Data Analyst,Optum,Bangalore/Bengaluru
17,Associate Data Analyst,Optum,Bangalore/Bengaluru
18,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
19,Financial Data Analyst,Nuance India,Bangalore/Bengaluru

In [ ]:
# Question no -2

In [26]:
#lets connect to web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [27]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [28]:
#lets scraping up naukari.com with automated web driver
driver.get("https://www.naukri.com/")

In [29]:
#finding element job search for
search_field_designation=driver.find_element_by_class_name("suggestor-input ") # job search for
search_field_designation.send_keys('Data Scientist')

In [31]:
# entering job location for Banglore location
search_field_loc=driver.find_element_by_class_name("suggestor-input") #job search for
search_field_loc.send_keys("Banglore")

In [32]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [33]:
jobs_titles=[]
company_names=[]
location_lists=[]

In [34]:
#start to extract tags having job titles  
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="fa41ebf5-5723-4d56-9a56-cb0e3fbbedf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="af197a1f-d338-402f-802a-af50ad5e235b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="a56d5621-12a8-4e88-82de-eec7e175b323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="83556994-aa35-4bc7-896d-dbd336c0a8f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="cdce4cfb-fef8-4bd7-9589-8185bc21433b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="cf571734-ec8f-4e26-902e-2eb1b6e9ba0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="ec42fcaa-e546-4261-aae1-96ba7c0a38ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="77ecaa74-cd5f-4253-8490-324aa4a57dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="607ba1fd-9bb6-4d78-845d-69b30d6c1e12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="8e580f77-2178-4e6c-b1db-154efd29f659")>]

In [35]:
#we run a loop extracted over the tags
for i in titles_tags: ##iterating over web element of tiles
    job_title=i.text   #extracting text from web each element
    jobs_titles.append(job_title) #appending each extracted text into empty list
    
jobs_titles[0:10]    #printing top 10 job titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Senior Data Scientist',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate']

In [36]:
# start to extract tags having company names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="8143d2f0-816e-4cad-bd1a-860f7da48dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="75ec8dfb-fc8f-4658-a0b4-b0689673872c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="14221c05-42e0-491c-9004-e49a152c863c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="48abb07e-8992-4df0-8f19-a8d5cc5ec56b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="108addd1-e7a8-42b0-86eb-7c61be92ec2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="b45da4b4-4050-47ad-8fd6-34c13960eb54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="3a3c5b52-2d9d-4f40-86b9-a032d1bbbc9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="d2773db7-2ce1-4a65-9f5c-18da072ea7cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="f1c568d6-d7b7-4d25-bb8d-a4b1b5fdb03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="aa536a4d-771c-4236-906e-5473567527bb")>]

In [37]:
#runs a loop extract to tags
for i in companies_tags: #iterating over web element of company tags
    company_name=i.text  #extracting text from web each element
    company_names.append(company_name) #appending each extracted text into empty list
    
company_names[0:10]    #printing top 10 company names

['Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Spiceworks',
 'Wipro',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'Applied Materials',
 'PwC']

In [38]:
# start to extract tags having location lists
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") #jobs search for
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="c542de70-5fcb-44d0-a1bf-f555c5f2bf64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="1ad516a8-de74-4ad2-9aa7-e301e8fe0124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="09eff88d-b1d7-4007-8f04-f4a31f3f6c09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="5bd053e5-86dd-4680-bcf2-40245c56d46f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="98e30412-bd00-42a9-b3f5-21cde89f8714")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="15e546b3-7dfc-44ce-b782-08f25837f5f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="58c2e814-4749-488d-acb3-f813f83196b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="9084e9be-16a7-45d8-9f14-16317b22478e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="02c51bda-179e-40d8-a2c3-aba694d1b0b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="eedf408c-22be-4dcf-8ecf-69c2e2bc0ce8")>]

In [39]:
#runs a loop extract tags
for i in locations_tags: #iterating over web element of location tags
    location_list=i.text  #extracting text from web each element
    location_lists.append(location) # appending each extracted text into empty list
    
location_lists[0:10]    #printing top 10 location list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [40]:
print(len(jobs_titles),len(company_names),len(location_lists))

20 20 20

In [41]:
#make data frame
df=pd.DataFrame({'Jobs_tittles':job_titles,'Company_names':
                company_names,'location_lists':location_lists})
df

,Jobs_tittles,Company_names,location_lists
0,Data Analyst I,Wipro,Bangalore/Bengaluru
1,Data Science / Data Engineer / Business Analys...,TATA CONSULTANCY SERVICES (TCS),Bangalore/Bengaluru
2,Sr.Business Data Analyst,Spiceworks,Bangalore/Bengaluru
3,Sr Data Analyst,Wipro,Bangalore/Bengaluru
4,Data Analyst / Business analyst - US MNC (anal...,EXL,Bangalore/Bengaluru
5,Junior Data Analyst,PayU,Bangalore/Bengaluru
6,Senior Data Analysis Analyst,Fractal Analytics,Bangalore/Bengaluru
7,Data Analyst,Paytm,Bangalore/Bengaluru
8,Data Analyst,Applied Materials,Bangalore/Bengaluru
9,Senior Data Analyst,PwC,Bangalore/Bengaluru
10,Senior Data Analyst,IBM,Bangalore/Bengaluru
11,Master Data Management Business Analyst,IBM,Bangalore/Bengaluru
12,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Schneider Electric,Bangalore/Bengaluru
13,Business Analyst/Data Analyst,Genpact,Bangalore/Bengaluru
14,Hiring For Data Analyst,EYGBS,Bangalore/Bengaluru
15,Data Analyst,IBM,Bangalore/Bengaluru
16,Associate Data Analyst,Walmart,Bangalore/Bengaluru
17,Associate Data Analyst,Wipro,Bangalore/Bengaluru
18,Senior Data Analyst II,Wipro,Bangalore/Bengaluru
19,Financial Data Analyst,IBM,Bangalore/Bengaluru

In [42]:
#code fetch of any urls
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") #locating web element of url
urls[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="fa41ebf5-5723-4d56-9a56-cb0e3fbbedf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="af197a1f-d338-402f-802a-af50ad5e235b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="a56d5621-12a8-4e88-82de-eec7e175b323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="83556994-aa35-4bc7-896d-dbd336c0a8f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="cdce4cfb-fef8-4bd7-9589-8185bc21433b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="cf571734-ec8f-4e26-902e-2eb1b6e9ba0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="ec42fcaa-e546-4261-aae1-96ba7c0a38ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="77ecaa74-cd5f-4253-8490-324aa4a57dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="607ba1fd-9bb6-4d78-845d-69b30d6c1e12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd648288c4e5f3c88471b13ae4ee0382", element="8e580f77-2178-4e6c-b1db-154efd29f659")>]

In [43]:
for i in urls[0:10]:  #giving range to print top 10 data
    print(i.get_attribute('href'))  #url is present inside href attritube and href attritube present inside tags

https://www.naukri.com/job-listings-urgent-opening-for-ai-practitioner-data-science-at-wipro-holmes-wipro-limited-kochi-cochin-new-delhi-bangalore-bengaluru-coimbatore-chennai-pune-mumbai-hyderabad-11-to-21-years-310522004893
https://www.naukri.com/job-listings-hiring-for-senior-data-scientist-tata-consultancy-services-ltd-pune-bangalore-bengaluru-8-to-13-years-130722002780
https://www.naukri.com/job-listings-senior-data-scientist-spiceworks-mumbai-hyderabad-secunderabad-pune-bangalore-bengaluru-remote-5-to-7-years-150722501193
https://www.naukri.com/job-listings-dataiku-consultant-wipro-limited-pune-chennai-bangalore-bengaluru-10-to-16-years-060722005045
https://www.naukri.com/job-listings-research-and-development-ai-ml-phd-exl-services-com-i-pvt-ltd-noida-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-delhi-ncr-4-to-8-years-030522007386
https://www.naukri.com/job-listings-opportunity-for-data-scientist-female-candidates-only-payu-payments-private-limited-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-040722005955
https://www.naukri.com/job-listings-senior-data-science-engineer-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-5-to-9-years-200622006171
https://www.naukri.com/job-listings-data-science-engineering-manager-paytm-noida-mumbai-bangalore-bengaluru-9-to-13-years-160622501981
https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-4-to-7-years-120722905916
https://www.naukri.com/job-listings-data-analytics-tech-informatica-cloud-senior-associate-pricewaterhouse-coopers-private-limited-bangalore-bengaluru-6-to-10-years-120722905627

In [ ]:
# Question - 3

In [44]:
# lets connect to web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [45]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [46]:
#scraping up naukri.com with automated web driver
driver.get("https://www.naukri.com/")

In [47]:
##finding element job search for designation
search_field_designation=driver.find_element_by_class_name("suggestor-input ") #job search for
search_field_designation.send_keys("Data Scientist")

In [48]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [58]:
job_titles=[]
company_names=[]
experience_lists=[]
locations_lists=[]

In [59]:
#so lets extract all tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="1af90040-4508-4240-bd05-132fd6fd9daa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="b5b0363e-603c-404a-b6b3-b0e48362ab66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="4733a875-e824-458f-a1e8-17eaf33f09c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="0640b095-df17-4795-a742-1e90ed62e200")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="897062e9-93e8-4ff3-b18a-bcac1b84c154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="99644699-c883-4c70-8812-b7ea49b06145")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="fdf9cb85-03b1-4e4b-8f42-bf05a495a1ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="7df36d92-694f-4d2c-8aae-88351c3e2605")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="e33545df-f74f-4f55-8ece-324ceeed973d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="d1be14cd-9bfb-48c2-876e-54d16a01afd3")>]

In [60]:
#create a loop for extract tags
for i in titles_tags:#iterating over web element of title
    job_title=i.text #extracting text from web each element
    job_titles.append(job_title) # appending each extected text into empty list
job_titles[0:10]    #printing top 10 data

['DigitalBCG GAMMA Data Scientist',
 'Data Scientist - Noida/Bangalore',
 'Senior Associate - Data Science',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - MIND Infotech',
 'Data Science Associate',
 'Data Scientist - Engine Algorithm',
 'Knowledge/Data Scientist',
 'Data Scientist']

In [61]:
#lets extract the tags having company name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="93415783-edde-4433-8412-84d2bcb9637c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="af104e07-d4fa-41dd-8b48-9798e440b553")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="e64eb48d-1cb8-49a6-adf5-ace0893421b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="efc513bd-6cff-46ab-80f9-87ddbb54ae3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="91e7bf16-48ba-4cfc-aa6e-577d8cc06887")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="7d2247aa-99e2-4f07-b818-c98592c7939f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="c1cbafbf-475d-4d1c-9d98-8e1342734a88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="18005c5f-82d2-4c50-8200-5813f6ea45b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="5aa5805e-392f-48c2-879f-197d578f3462")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="01200443-64a8-4e75-80ce-07988c1d0853")>]

In [62]:
#use a loop extrcat tags
for i in companies_tags:  #iterating over web element of company tags
    company_name=i.text #extracting text from web each element
    company_names.append(company_name) #appending each extected text into empty list
company_names[0:10]    #printing top 10 data

['Boston Consulting Group',
 'EXL',
 'Black Turtle',
 'SECUREKLOUD TECHNOLOGIES',
 'SECUREKLOUD TECHNOLOGIES',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Kreate Energy',
 'Primo Hiring',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited']

In [63]:
# now let me extract all the tags having exp names
experiences_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experiences_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="7cd02068-3473-48e4-876d-64ceae8617c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="94c7f096-85b3-4603-848b-26261475a786")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="3e37da9e-2e20-4d81-a5e2-3ef9274937ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="40e4b284-3e4f-4d86-b3ed-5a863be08979")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="7a7d87af-a5b1-4389-b7d0-92827160013c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="087de273-68dd-410b-b403-395bb27a3d03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="a67ac6cc-721b-44b8-b389-23b1951821a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="69c7ceca-1925-4e99-870a-7d5e2bd6f438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="88e1ea45-8fef-4b74-b48f-df2254fa9a87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="21113acb-0110-4c8e-8af5-67d9d22fa78b")>]

In [64]:
# now let me extract all the tags having exp names
for i in experiences_tags:  #iterating over web element of experience tags
    experience_list=i.text #extracting text from web each element
    experience_lists.append(experience_list) #appending each extected text into empty list
experience_lists[0:10] #printing top 10 data

['2-5 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '4-8 Yrs',
 '2-4 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs']

In [65]:
# now let me extract all the tags having locations names
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="303d09a5-4ab9-4ca3-a662-12f849c6952f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="3ffb034a-0991-4c34-99a3-cebe9a2072ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="b1d47314-cd31-48bf-b491-3ed819f0c684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="f92fcbc4-6c1d-4c5f-9ebc-a536050f772b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="9e6b522d-242b-42f6-9efb-365924c8fbda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="95187198-8b0a-4579-976d-b2d92f680173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="9a6725b1-0e5d-4385-8fab-2a1ea0f29e6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="dbc1f9e3-375c-46ec-afa0-7c1391e70f48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="136563ad-151d-4d42-9d87-3f7d452a2ec4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0479450173ae697d88ac8e85f5761f84", element="c794cc9b-68bc-424b-aead-c8e3b6679aa9")>]

In [66]:
for i in locations_tags: #iterating over web element of location tags
    location_list=i.text #extracting text from web each element
    locations_lists.append(location_list)  #appending each extected text into empty list
locations_lists[0:10]  #printing top 10 data

['New Delhi, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Noida',
 'Delhi / NCR(Vaishali)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru']

In [67]:
print(len(job_titles),len(company_names),len(experience_lists),len(locations_lists))

20 20 20 20

In [68]:
#make a DataFrame using import pandas as pd
jobs=pd.DataFrame({})
jobs['Titles']=job_titles
jobs['Company_names']=company_names
jobs['Experience_required']=experience_lists
jobs['Locations_lists']=locations_lists

In [69]:
jobs

,Titles,Company_names,Experience_required,Locations_lists
0,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
1,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
2,Senior Associate - Data Science,Black Turtle,4-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."
3,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
4,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
6,Data Science Associate,Kreate Energy,2-4 Yrs,Delhi / NCR(Vaishali)
7,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
8,Knowledge/Data Scientist,BOLD Technology Systems,3-6 Yrs,Delhi / NCR
9,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
10,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
11,Data Scientist,Sydata Consulting India Pvt Ltd,3-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
12,Machine Learning Seniors,Walking Tree Consultancy Services pvt Ltd,2-5 Yrs,"Hyderabad/Secunderabad, New Delhi"
13,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra..."
14,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra..."
15,Data Scientist,Kellton Tech Solutions,3-6 Yrs,Gurgaon/Gurugram
16,Hiring || Data Scientist || North Delhi || 5.5...,Shriram Automall,4-9 Yrs,Delhi / NCR(Netaji Subhash Place)
17,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
18,Data Engineer,excellence,4-9 Yrs,"Mumbai, New Delhi, Pune"
19,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,1-4 Yrs,Noida

In [ ]:
# Question - 4 Scraping Sunglass

In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [5]:
import selenium # to use selenium library
import pandas as pd # install pandas library for DataFrame
from selenium import webdriver # to open with automated chrome window
import warnings 
warnings.filterwarnings('ignore') # to ingnore any sort of warnings
import time # use to stop search engine for few seconds
from selenium .webdriver.common.by import By

In [6]:
# lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [7]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [8]:
#scarping up flipcart.com on automated web driver
driver.get("https://www.flipkart.com/")

In [9]:
# finding element product search for
sunglass=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglass.send_keys("sunglass")

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [10]:
Brand=[] #create empty list
start=0
end= 3

for page in range(0,3): #given range for page 
    Brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']") #scraping Brand from the xpath
    for i in Brands:
        Brand.append(i.text) #extracting text from web each element

In [11]:
desc=[] #create empty list
start=0
end=3
for page in range(0,3): #given range for page 
    descs=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']") #scraping description from the xpath
    
    for i in descs:
        desc.append(i.text) #extracting text from web each element

In [12]:
price=[] #create empty list
start=0
end=3
for page in range(0,3): #given range for page 
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")#scraping price from the xpath
    
    for i in prices:
        price.append(i.text) #extracting text from web each element

In [13]:
print(len(Brand),len(desc),len(price)) #checking len

120 120 120

In [14]:
#made Data Frame from import pandas as pd
sng=pd.DataFrame({'Brand':Brand,'Desc':desc,'Price':price})
sng

,Brand,Desc,Price
0,Ray-Ban,Gradient Round Sunglasses (52),"10,889"
1,Ray-Ban,Gradient Round Sunglasses (54),"10,889"
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",197
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),264
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),998
...,...,...,...
115,Ray-Ban,Mirrored Round Sunglasses (55),"7,189"
116,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",443
117,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",381
118,Hamiw,"UV Protection, Riding Glasses Round Sunglasses...",249
119,Ray-Ban,Mirrored Aviator Sunglasses (63),"5,489"

In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [ ]:
Q-5 Scraping iphone

In [4]:
import selenium # to use selenium library
import pandas as pd # install pandas library for DataFrame
from selenium import webdriver # to open with automated chrome window
import warnings 
warnings.filterwarnings('ignore') # to ingnore any sort of warnings
import time # use to stop search engine for few seconds

In [8]:
# lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [9]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [10]:
#scarping up flipcart.com on automated web driver
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [11]:
urls=[]
short_review=[]
complete_review=[]
stars=[]

In [12]:
#scraping 10 pages url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
    
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)

In [13]:
for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [14]:
print(len(short_review),len(complete_review),len(stars)) #checking len

100 100 100

In [15]:
#made Data Frame from import pandas as pd
df=pd.DataFrame({'Stars':stars,'Short_review':short_review,'Complete_review':complete_review})
df

,Stars,Short_review,Complete_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Best in the market!,Dont expect much from front camera especiall...
98,5,Mind-blowing purchase,Absolutely powerful gadget. Loved its look! S...
99,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...

In [ ]:
# Q-6 Scraping Sneakers

In [15]:
# lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [16]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [17]:
#scarping up flipcart.com on automated web driver
driver.get(" https://www.flipkart.com/")

In [18]:
# finding element product search for
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys("sneakers")

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [19]:
brand=[] #creat empty list
start=0
end=3

for page in range(0,3): #given range for page
    brands=driver.find_elements(By.CLASS_NAME,"_2WkVRV") #scraping brand from the xpath
    
    for i in brands:
        brand.append(i.text) #extracting text from web each element

In [20]:
desc=[] #creat empty list
start=0
end=3

for page in range(0,3): #given range for page
    descs=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath

    for i in descs:
        desc.append(i.text) #extracting text from web each element

In [21]:
price=[] #creat empty list
start=0
end=3 
for page in range(0,3): #given range for page
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")#scraping price from the xpath
    
    for i in prices:
        price.append(i.text) #extracting text from web each element

In [22]:
print(len(brand),len(desc),len(price)) #checking len

120 120 120

In [23]:
#make a Data Frame from import pandas as pd
snkr=pd.DataFrame({'Brand':brand,'Desc':desc,'Price':price})
snkr

         Brand                                               Desc   Price
0      Favshoe  Stylish, Walking ,Running & Good Looking Sneak...    509
1     RapidBox                  Stylish & Trendy Sneakers For Men    590
2     Magnolia                                   Sneakers For Men    374
3         PUMA                      x KL Seattle Sneakers For Men  2,159
4         PUMA                RBR Electron E Pro Sneakers For Men  3,119
..         ...                                                ...     ...
115   RapidBox                                   Sneakers For Men    650
116   HOTSTYLE                                   Sneakers For Men    268
117   RED TAPE                                   Sneakers For Men  1,249
118  SCATCHITE                          Sneakers Sneakers For Men    360
119    FAMONIA                           Stylish Sneakers For Men    499

[120 rows x 3 columns]

In [24]:
# Question-8 Amazon top 10 laptop scraping

In [25]:
#lets connect to webdriver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [26]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [27]:
#scraping the amazon.com
driver.get("https://www.amazon.in/")

In [28]:
# finding element product search for
laptops=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptops.send_keys("laptop")

search=driver.find_element(By.XPATH," /html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input") #using full xpath
search.click()

In [29]:
# create empty list
titles_tag=[]
rating_list=[]
price_list=[]

In [30]:
# now let me extract all the tags having titles tags
titles_tags=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
titles_tags[0:10]               
    

for i in titles_tags[0:10]:
    titles_tag.append(i.text) #extracting text from web each element

In [31]:
# now let me extract all the tags having rating list
ratings_lists=driver.find_elements(By.XPATH,"//span[@class='a-icon-alt']")
ratings_lists[0:10]


for i in ratings_lists[0:10]:
    rating_list.append(i.text) #extracting text from web each element

In [32]:
# now let me extract all the tags having price list
prices_lists=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
prices_lists[0:10]

for i in prices_lists[0:10]:
    price_list.append(i.text) #extracting text from web each element

In [33]:
print(len(titles_tag),len(rating_list),len(price_list)) # checking len

10 10 10

In [34]:
#make a Data Frame from import pandas as pd
amzn=pd.DataFrame({'Titles_tag':titles_tag,'Rating_list':rating_list,'Price_list':price_list})
amzn

                                          Titles_tag Rating_list Price_list
0  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...                 82,420
1  HP Pavilion, 12th Gen Intel Core i7 16GB RAM/1...                 89,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...                 56,690
3  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...                 85,490
4  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...               1,64,990
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...                 86,990
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....                 76,492
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...                 79,990
8  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....               1,09,990
9  ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cm...                 97,690

In [ ]:
#Question no -10 ,Scraping ambitionbox.com whatever is given for

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium   # to use selenium library
import time # use to stop search engine for few seconds
from selenium import webdriver  # to open with automated chrome window
import pandas as pd   # install pandas library for DataFrame
from selenium.webdriver.common.by import By 
import warnings
warnings.filterwarnings('ignore') # to ingnore any sort of warnings

In [3]:
# lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\Vikash_info\chromedriver.exe")

In [4]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [5]:
#scarping up naukri.com on automated web drive
driver.get("https://www.ambitionbox.com/")

In [6]:
# finding element job search for
search_field_designation=driver.find_element(By.XPATH,"/html/body/section[1]/div/div/div/div[2]/form/span/input") #job search for
search_field_designation.send_keys('Data Scientist')

In [7]:
search_button=driver.find_element(By.XPATH,"/html/body/section[1]/div/div/div/div[2]/form/div[2]")
search_button.click()

In [8]:
#crate empty list
company_name=[]
experience_list=[]
total_salary=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [9]:
#lets scrpae ambition.com having company names
company_names=driver.find_elements(By.XPATH,"//div[@class='name']")

for i in company_names: #iterating over web element of company title
    company_name.append(i.text) # appending each extected text into empty list

In [10]:
#lets scrpae ambition.com having experience list
experience_lists=driver.find_elements(By.XPATH,"//div[@class='sbold-list-header']/span[1]")

for i in experience_lists: #iterating over web element of experience list
    experience_list.append(i.text) # appending each extected text into empty list

In [11]:
#lets scrpae ambition.com having total salary
total_salaries=driver.find_elements(By.XPATH,"//span[@class='salary-datapoints']")

for i in total_salaries: #iterating over web element of total salary
    total_salary.append(i.text) # appending each extected text into empty list

In [12]:
#lets scrpae ambition.com having average salary
Average = driver.find_elements_by_xpath("//p[@class='averageCtc']")

for i in Average[0:10]: #iterating over web element of avg salary

    avg_salary.append(i.text) # appending each extected text into empty list

In [13]:
#lets scrpae ambition.com having minimum salary
min_salaries=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1] ")

for i in min_salaries[0:10]: #iterating over web element of min salary
    min_salary.append(i.text) # appending each extected text into empty list

In [14]:
#lets scrpae ambition.com having maximum salary
max_salaries=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")

for i in max_salaries[0:10]: #iterating over web element of max salary
    max_salary.append(i.text) # appending each extected text into empty list

In [15]:
#create Data Frame using library import pandas as pd
ambox=pd.DataFrame({'Company_name':company_name,'Experience_list':experience_list,
                   'Avg_salary':avg_salary,'Min_salary':min_salary,'Max_salary':max_salary})
ambox

,Company_name,Experience_list,Avg_salary,Min_salary,Max_salary
0,TCS\nData Scientist Salary,2-9 yrs exp,7.0L,3.2L,16.0L
1,Accenture\nData Scientist Salary,2-9 yrs exp,20.5L,9.5L,40.9L
2,IBM\nData Scientist Salary,2-11 yrs exp,6.9L,3.1L,18.6L
3,Cognizant\nData Scientist Salary,2-10 yrs exp,,,
4,Capgemini\nData Scientist Salary,2-8 yrs exp,,,
5,Infosys\nData Scientist Salary,2-7 yrs exp,,,
6,Tech Mahindra\nData Scientist Salary,2-12 yrs exp,,,
7,Wipro\nData Scientist Salary,2-9 yrs exp,,,
8,Deloitte\nData Scientist Salary,2-7 yrs exp,,,
9,Ericsson\nData Scientist Salary,2-12 yrs exp,7.4L,4.4L,15.0L